body {
    /* font-family: Montserrat; */
    font-family: 'Meera Inimai', sans-serif;
    margin: 0;
    /* background: linear-gradient(#ff9d00,#dd8800); */
    background-color: #fea108;
}

.main-container {
    display: grid;
    grid-template-columns: 0.08fr 1fr;
    height: 100%;
    padding: 0 25px 0 0;
}

.navbar-container {
    padding: 0 10px 0 15px;
}

/* nav {} */

nav ul {
    background-color: wheat;
    border-radius: 50px;
    border: 3px solid black;
    list-style-type: none;
    text-align: center;
    margin: 40px 10px 50px 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.753);
    height: 500px;
    position: fixed;
}

.nav-cell {
    padding: 10px;
    width: 28px;
    height: 28px;
    margin: 30px 0 20px 0;
    background-color: #ffbb01;
    border-radius: 50%;
}

.nav-icon {
    width: 28px;
    height: 28px;
    color: #470a00;
}

.nav-cell:hover {
    background-color: #470a00;
}

.nav-cell:hover .nav-icon {
    color: #ffbb01;
}

/* .content-container {} */

.header {
    text-align: center;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 0.35fr;
}

/* .title-content {} */

.title {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
}

.tag-line {
    font-size: 16px;
    margin-top: 10px;
    font-style: italic;
}

.points-content {
    padding: 5px;
}

.points {
    border: 3px solid black;
    height: 50px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
    background-color: wheat;
}

.point-section {
    padding: 5px;
    display: grid;
    grid-template-columns: 20% 80%;
}

.point-diamond-img {
    height: 35px;
    width: 35px;
    padding-left: 10px;
}

.point-coins-img {
    height: 34px;
    width: 45px;
}

.point-count {
    font-size: 30px;
    font-weight: 800;
    vertical-align: middle;
    padding-left: 15px;
    padding-top: 4px;
}

.page-container {
    margin-left: 50px;
}

.page-heading {
    display: flex;
    flex-direction: row;
    padding: 10px 0 6px 5px;
}

.page-title {
    font-size: 26px;
    font-weight: bolder;
    margin: 0;
}