<!DOCTYPE html>
<html>

<head>
    <title>பதிவு</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/signupcss.css">

</head>

<body>

    <div class="header">
        <div class="title-content">
            <p class="title">திருக்குறள் பழகு</p>
            <p class="tag-line">உங்கள் குறளில் திருக்குறள்</p>
        </div>
    </div>
    <div class="main-container">
        <div class="image-container">
            <div class="content image-content">
            </div>
        </div>
        <div class="signup-container">
            <div class="signup-content content">
                <div class="signup-heading">
                    <h2>பதிவு</h2>
                </div>
                <div class="signup-form">
                    <form name="signup_form">
                        <input type="text" name="name" class="form-control" placeholder="உங்கள் பெயர்"
                            aria-label="First name">
                        <input type="email" name="email" class="form-control" placeholder="மின்னஞ்சல்"
                            id="exampleInputEmail1" aria-describedby="emailHelp">
                        <input type="password" name="password" class="form-control" placeholder="கடவுச்சொல்"
                            id="exampleInputPassword1">
                        <input type="password" name="cpassword" class="form-control"
                            placeholder="கடவுச்சொல்லை மீண்டும் தட்டச்சு செய்க" id="exampleInputPassword1">
                        <p class="error error--hidden"></p>
                        <div class="navigation-btns">
                            <div class="back">
                                <button type="submit" class="signup-button back-button">பதிவு</button>
                            </div>
                            <div class="next">
                                <a href="/">
                                    <p class="signup-button next-button">புகுபதிகை</p>
                                </a>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>